In [107]:
from glob import glob

In [108]:
files = glob("data/hist_prices*")
print(files)

['data/hist_prices_2024-01-01-00-00_None_86400_1000000000_(0, 0.4)_30.csv', 'data/hist_prices_2024-01-01-00-00_None_900_1000000000_(0, 0.4)_30.csv', 'data/hist_prices_2024-01-01-00-00_None_3600_1000000000_(0, 0.4)_30.csv', 'data/hist_prices_2024-01-01-00-00_None_900_10000000000_(0, 0.4)_45.csv', 'data/hist_prices_2024-01-01-00-00_None_60_10000000000_(0, 0.4)_30.csv', 'data/hist_prices_2024-01-01-00-00_None_300_1000000000_(0, 0.4)_30.csv', 'data/hist_prices_2024-01-01-00-00_None_86400_10000000000_(0, 0.4)_45.csv', 'data/hist_prices_2024-01-01-00-00_None_86400_1000000000_(0, 0.4)_45.csv', 'data/hist_prices_2022-01-01-00-00_None_86400_1000000000_(0, 0.4)_45.csv', 'data/hist_prices_2024-01-01-00-00_None_60_10000000000_(0, 0.4)_45.csv', 'data/hist_prices_2020-01-01-00-00_None_60_10000000000_(0, 0.4)_30.csv']

In [109]:
import pandas as pd

In [110]:
dfs = []
for file in files:
    dfs+=[pd.read_csv(file)]

In [111]:
dfs

[           time  UNI-USD  ALGO-USD  TIA-USD  LTC-USD  STX-USD  APT-USDT  \
 0    2024-01-01    7.605    0.2390   13.998    74.75   1.6246      9.87
 1    2024-01-02    7.180    0.2269   12.783    72.98   1.5470     10.24
 2    2024-01-03    6.436    0.2046   12.192    65.29   1.5548      9.08
 3    2024-01-04    6.537    0.2075   15.630    66.49   1.7197     10.24
 4    2024-01-05    6.436    0.1969   15.622    66.08   1.6112      9.66
 ..          ...      ...       ...      ...      ...      ...       ...
 119  2024-04-29    7.689    0.1901    9.744    83.48   2.4739      9.09
 120  2024-04-30    7.033    0.1780    9.467    79.44   2.1564      8.76
 121  2024-05-01    7.035    0.1805    9.679    80.05   2.1396      8.91
 122  2024-05-02    7.107    0.1811   10.143    80.04   2.0854      8.87
 123  2024-05-03    7.473    0.1908   10.171    81.94   2.1844      9.15

      SAND-USDT  RNDR-USDT  ADA-USDT  ...  ARB-USD  AXS-USD  MATIC-USDT  \
 0        0.602     4.7333     0.623  ...   1.7379     9.26       1.015
 1        0.587     4.6611     0.603  ...   1.7701     8.96       0.971
 2        0.515     4.4171     0.558  ...   1.9168     7.96       0.855
 3        0.539     4.3820     0.569  ...   2.0068     8.43       0.883
 4        0.511     4.0120     0.542  ...   1.9534     7.98       0.854
 ..         ...        ...       ...  ...      ...      ...         ...
 119      0.443     7.8683     0.456  ...   1.0586     7.11       0.703
 120      0.419     7.3425     0.444  ...   1.0227     6.73       0.668
 121      0.424     7.6596     0.450  ...   1.0281     6.99       0.693
 122      0.435     7.8293     0.460  ...   1.0291     7.30       0.722
 123      0.451     8.1033     0.468  ...   1.0673     7.54       0.731

      AAVE-USD  SEI-USD  BTC-USDT  ETH-USDT  VET-USD  GRT-USD  CHZ-USD
 0      116.23   0.7096  44181.35   2352.20  0.03664   0.2175   0.0897
 1      110.35   0.7124  44954.64   2354.55  0.03500   0.2072   0.0877
 2      102.85   0.7841  42843.85   2209.69  0.03210   0.1894   0.0806
 3      103.90   0.7723  44154.57   2266.94  0.03279   0.1990   0.0818
 4      103.03   0.7190  44156.34   2268.27  0.03115   0.1849   0.0798
 ..        ...      ...       ...       ...      ...      ...      ...
 119     89.30   0.6359  63863.03   3215.77  0.03947   0.2569   0.1131
 120     83.26   0.5432  60680.03   3014.20  0.03605   0.2360   0.1079
 121     83.54   0.5312  58357.97   2972.74  0.03517   0.2427   0.1165
 122     84.94   0.5402  59066.36   2985.47  0.03511   0.2507   0.1181
 123     87.69   0.5656  61836.56   3078.77  0.03713   0.2691   0.1190

 [124 rows x 45 columns],
                       time  UNI-USD  ALGO-USD  TIA-USD  LTC-USD  APT-USDT  \
 0      2024-01-01 00:15:00    7.279       NaN   11.865    73.01       NaN
 1      2024-01-01 00:30:00    7.284       NaN   11.966    73.03       NaN
 2      2024-01-01 00:45:00    7.316       NaN   12.018    73.05       NaN
 3      2024-01-01 01:00:00    7.323       NaN   12.145    73.09       NaN
 4      2024-01-01 01:15:00    7.331       NaN   12.120    73.15       NaN
 ...                    ...      ...       ...      ...      ...       ...
 11871  2024-05-03 16:30:00    7.480       NaN   10.169    82.06       NaN
 11872  2024-05-03 16:45:00    7.441       NaN   10.110    81.85       NaN
 11873  2024-05-03 17:00:00    7.419       NaN   10.139    81.80       NaN
 11874  2024-05-03 17:15:00      NaN       NaN   10.154    81.86       NaN
 11875  2024-05-03 17:30:00      NaN       NaN      NaN    81.82       NaN

        SAND-USDT  RNDR-USDT  WBTC-USD  ATOM-USD  ...  ETH-USDT  VET-USD  \
 0            NaN     4.5411       NaN    10.642  ...   2289.38  0.03443
 1            NaN     4.5454       NaN    10.675  ...   2292.40  0.03460
 2            NaN     4.5250       NaN    10.692  ...   2293.79  0.03462
 3            NaN     4.5281  42557.22    10.684  ...   2297.34  0.03472
 4            NaN     4.5180       NaN    10.708  ...   2301.73  0.03475
 ...          ...        ...       ...       ...  ...       ...      ...
 11871        NaN     8.1019       NaN     8.848  ...   3078.49  0.03714
 11872        NaN     8.0935       NaN     8.831  ...   3067.59  0.03721
 11873        NaN     8.1491       NaN     8.819  ...   3073.34  0.03716
 11874        NaN     8.1592       NaN       NaN  ...   3075.61      NaN
 11875        NaN     8.1490       NaN       NaN  ...   3074.58      NaN

        GRT-USD  CHZ-USD  ETC-USD  LDO-USD  CRO-USD  ADA-USD  STX-USDT  \
 0       0.1875   0.0867    21.91    2.642   0.0988   0.5954    1.4901
 1       0.1890   0.0870    21.90    2.653   0.0988   0.5969       NaN
 2       0.1890   0.0870    21.92    2.659   0.0988   0.5978    1.4897
 3       0.1885   0.0870    21.95    2.666   0.0987   0.6001       NaN
 4       0.1878   0.0870    22.03    2.676   0.0986   0.6010    1.4894
 ...        ...      ...      ...      ...      ...      ...       ...
 11871   0.2694   0.1186    26.71    2.133   0.1331   0.4678    2.1823
 11872   0.2695   0.1184    26.66    2.126   0.1331   0.4659       NaN
 11873   0.2720   0.1188    26.74    2.132   0.1335   0.4652       NaN
 11874   0.2735   0.1190    26.78    2.121   0.1340      NaN    2.1984
 11875      NaN   0.1193    26.83    2.120   0.1338      NaN       NaN

        AVAX-USD
 0         38.73
 1         38.86
 2         38.93
 3         39.03
 4         39.11
 ...         ...
 11871     35.30
 11872     35.25
 11873     35.31
 11874     35.41
 11875     35.41

 [11876 rows x 47 columns],
                      time  UNI-USD  ALGO-USD  TIA-USD  LTC-USD  STX-USD  \
 0     2024-01-01 01:00:00      NaN       NaN   12.159    73.29   1.5150
 1     2024-01-01 02:00:00      NaN       NaN   11.985    73.16   1.5177
 2     2024-01-01 03:00:00      NaN       NaN   11.824    72.65   1.4811
 3     2024-01-01 04:00:00      NaN       NaN   11.825    72.51   1.4756
 4     2024-01-01 05:00:00      NaN       NaN   11.762    72.19   1.4499
 ...                   ...      ...       ...      ...      ...      ...
 2963  2024-05-03 12:00:00      NaN       NaN    9.960    81.26   2.1279
 2964  2024-05-03 13:00:00      NaN       NaN   10.048    81.75   2.1893
 2965  2024-05-03 14:00:00      NaN       NaN    9.980    81.70   2.1833
 2966  2024-05-03 15:00:00      NaN       NaN    9.998    81.96   2.1777
 2967  2024-05-03 16:00:00      NaN       NaN   10.077    81.80   2.1720

       APT-USDT  SAND-USDT  RNDR-USDT  WBTC-USD  ...  SEI-USD  BTC-USDT  \
 0          NaN        NaN        NaN  42557.22  ...      NaN       NaN
 1          NaN        NaN        NaN  42511.80  ...      NaN       NaN
 2          NaN        NaN        NaN  42263.80  ...      NaN       NaN
 3          NaN        NaN        NaN  42281.68  ...      NaN       NaN
 4          NaN        NaN        NaN  42163.34  ...      NaN       NaN
 ...        ...        ...        ...       ...  ...      ...       ...
 2963       NaN        NaN        NaN  60837.45  ...      NaN       NaN
 2964       NaN        NaN        NaN  61719.88  ...      NaN       NaN
 2965       NaN        NaN        NaN  61605.00  ...      NaN       NaN
 2966       NaN        NaN        NaN  61740.39  ...      NaN       NaN
 2967       NaN        NaN        NaN  61491.61  ...      NaN       NaN

       ETH-USDT  VET-USD  GRT-USD  CHZ-USD  ETC-USD  LDO-USD  CRO-USD  ADA-USD
 0          NaN  0.03480   0.1881   0.0874    22.12    2.695   0.0990   0.6022
 1          NaN  0.03477   0.1873   0.0869    21.91    2.733   0.0983   0.5996
 2          NaN  0.03427   0.1852   0.0857    21.76    2.709   0.0980   0.5955
 3          NaN  0.03413   0.1866   0.0858    21.67    2.701   0.0980   0.5953
 4          NaN  0.03408   0.1866   0.0855    21.53    2.690   0.0979   0.5920
 ...        ...      ...      ...      ...      ...      ...      ...      ...
 2963       NaN  0.03597   0.2591   0.1181    26.29    2.068   0.1304   0.4576
 2964       NaN  0.03654   0.2638   0.1182    26.51    2.090   0.1323   0.4649
 2965       NaN  0.03676   0.2656   0.1181    26.52    2.119   0.1325   0.4642
 2966       NaN  0.03689   0.2684   0.1187    26.56    2.153   0.1337   0.4670
 2967       NaN  0.03715   0.2687   0.1186    26.69    2.125   0.1328   0.4662

 [2968 rows x 47 columns],
                       time  ADA-USDT  DOT-USD  AVAX-USDT  SHIB-USD  DOGE-USDT  \
 0      2024-01-01 00:00:00     0.597      NaN        NaN       NaN     0.0897
 1      2024-01-01 00:15:00     0.595    8.224      38.71  0.000010     0.0897
 2      2024-01-01 00:30:00     0.597    8.247      38.86  0.000010     0.0896
 3      2024-01-01 01:15:00     0.601    8.275      39.11  0.000010     0.0901
 4      2024-01-01 01:30:00     0.600    8.302      39.37  0.000010     0.0902
 ...                    ...       ...      ...        ...       ...        ...
 11065  2024-05-06 13:45:00     0.462    7.214      37.95  0.000024     0.1593
 11066  2024-05-06 14:00:00     0.461    7.215      38.18  0.000025     0.1604
 11067  2024-05-06 14:15:00     0.460    7.186      37.96  0.000025     0.1590
 11068  2024-05-06 14:30:00     0.459    7.154      37.85  0.000024     0.1581
 11069  2024-05-06 14:45:00     0.459    7.106      37.34  0.000024     0.1572

        ETH-USD  XRP-USD  SOL-USDT  BTC-USDT
 0          NaN      NaN       NaN       NaN
 1      2289.87   0.6162    102.04  42383.11
 2      2292.29   0.6153    102.14  42455.91
 3      2298.04   0.6171    102.35  42498.83
 4      2302.20   0.6181    104.47  42705.72
 ...        ...      ...       ...       ...
 11065  3117.74   0.5324    153.43  63870.43
 11066  3120.42   0.5331    155.72  64066.55
 11067  3106.38   0.5327    154.40  63944.09
 11068  3097.08   0.5322    153.95  63742.82
 11069  3078.29   0.5299    152.62  63284.26

 [11070 rows x 10 columns],
                        time   BTC-USD  SHIB-USD  XRP-USD  DOT-USD  ADA-USD
 0       2024-01-01 00:01:00  42319.63  0.000010   0.6157    8.220   0.5943
 1       2024-01-01 00:02:00  42331.15  0.000010   0.6161    8.230   0.5944
 2       2024-01-01 00:03:00  42367.95  0.000010   0.6164    8.244   0.5958
 3       2024-01-01 00:04:00  42395.08  0.000010   0.6167    8.238   0.5969
 4       2024-01-01 00:05:00  42400.07  0.000010   0.6169    8.236   0.5955
 ...                     ...       ...       ...      ...      ...      ...
 184276  2024-05-07 23:42:00  62504.62  0.000023   0.5257    7.025   0.4430
 184277  2024-05-07 23:43:00  62490.63  0.000023   0.5258    7.028   0.4428
 184278  2024-05-07 23:44:00  62478.37  0.000023   0.5258    7.023   0.4433
 184279  2024-05-07 23:45:00  62487.49  0.000023   0.5258    7.027   0.4430
 184280  2024-05-07 23:46:00  62497.67  0.000023   0.5258    7.024   0.4430

 [184281 rows x 6 columns],
                       time  UNI-USD  ALGO-USD  TIA-USD  LTC-USD  APT-USDT  \
 0      2024-01-01 00:00:00    7.237    0.2242      NaN      NaN       NaN
 1      2024-01-01 00:05:00    7.271    0.2248   11.949    73.10       NaN
 2      2024-01-01 00:10:00    7.296    0.2249   11.968    73.13       NaN
 3      2024-01-01 00:15:00    7.282    0.2250   11.920    73.06       NaN
 4      2024-01-01 00:20:00    7.272    0.2251   11.925    72.99       NaN
 ...                    ...      ...       ...      ...      ...       ...
 34893  2024-05-03 18:45:00    7.429    0.1911      NaN      NaN      9.01
 34894  2024-05-03 18:50:00    7.431    0.1911      NaN      NaN       NaN
 34895  2024-05-03 18:55:00    7.427    0.1912      NaN      NaN       NaN
 34896  2024-05-03 19:00:00    7.427    0.1911      NaN      NaN      8.98
 34897  2024-05-03 19:05:00    7.411    0.1910      NaN      NaN       NaN

        SAND-USDT  RNDR-USDT  WBTC-USD  ATOM-USD  ...  ETH-USDT  VET-USD  \
 0            NaN     4.5118       NaN       NaN  ...   2295.88      NaN
 1          0.598        NaN  42399.74    10.641  ...       NaN      NaN
 2          0.595        NaN  42449.79    10.657  ...       NaN      NaN
 3            NaN     4.5411       NaN    10.642  ...   2289.38  0.03443
 4          0.593        NaN  42485.90    10.670  ...       NaN      NaN
 ...          ...        ...       ...       ...  ...       ...      ...
 34893        NaN        NaN       NaN       NaN  ...       NaN      NaN
 34894        NaN        NaN  61744.47       NaN  ...       NaN      NaN
 34895        NaN        NaN       NaN       NaN  ...       NaN      NaN
 34896        NaN        NaN  61691.83       NaN  ...       NaN      NaN
 34897        NaN        NaN  61600.00       NaN  ...       NaN      NaN

        GRT-USD  CHZ-USD  ETC-USD  LDO-USD  CRO-USD  ADA-USD  STX-USDT  \
 0          NaN      NaN    21.98    2.651   0.0990      NaN    1.5003
 1       0.1861      NaN    22.03    2.655   0.0991   0.5965       NaN
 2       0.1868      NaN    22.10    2.651   0.0991   0.5969       NaN
 3       0.1876   0.0867    22.02    2.648   0.0989   0.5955    1.5157
 4       0.1884      NaN    21.97    2.647   0.0990   0.5962    1.4901
 ...        ...      ...      ...      ...      ...      ...       ...
 34893   0.2753      NaN    26.85    2.145   0.1328   0.4652       NaN
 34894   0.2750      NaN    26.84    2.146   0.1325   0.4650       NaN
 34895   0.2755      NaN    26.81    2.147   0.1325   0.4650       NaN
 34896   0.2746      NaN    26.78    2.154   0.1323   0.4646       NaN
 34897      NaN      NaN    26.74    2.148   0.1321   0.4642    2.1977

        AVAX-USD
 0           NaN
 1         38.75
 2         38.88
 3         38.83
 4         38.85
 ...         ...
 34893     35.26
 34894     35.24
 34895     35.23
 34896     35.20
 34897     35.13

 [34898 rows x 47 columns],
            time  ADA-USD  SHIB-USD  ETH-USD  DOT-USD  DOGE-USD  AVAX-USD  \
 0    2024-01-01   0.6236  0.000011  2352.76    8.598   0.09202     41.95
 1    2024-01-02   0.6053  0.000011  2356.16    8.423   0.09110     40.58
 2    2024-01-03   0.5572  0.000010  2210.49    7.634   0.08203     36.81
 3    2024-01-04   0.5704  0.000010  2269.47    7.886   0.08408     38.74
 4    2024-01-05   0.5419  0.000010  2270.35    7.456   0.08272     36.48
 ..          ...      ...       ...      ...      ...       ...       ...
 121  2024-05-01   0.4493  0.000023  2968.12    6.888   0.13007     33.29
 122  2024-05-02   0.4577  0.000023  2986.32    7.277   0.13192     33.58
 123  2024-05-03   0.4675  0.000024  3103.27    7.250   0.14612     35.56
 124  2024-05-04   0.4633  0.000025  3117.41    7.122   0.16011     37.38
 125  2024-05-05   0.4599  0.000025  3146.00    7.134   0.16144     37.25

      SOL-USD
 0     110.11
 1     106.74
 2      98.59
 3     105.01
 4     100.02
 ..       ...
 121   134.46
 122   137.57
 123   143.73
 124   146.06
 125   147.01

 [126 rows x 8 columns],
            time  FIL-USD  ETH-USD  XRP-USD   XLM-USD  CRO-USD  SAND-USD  \
 0    2024-01-01    7.570  2352.76   0.6299  0.131996   0.1008    0.6042
 1    2024-01-02    7.174  2356.16   0.6247  0.129211   0.1038    0.5872
 2    2024-01-03    6.292  2210.49   0.5826  0.120563   0.0960    0.5169
 3    2024-01-04    6.499  2269.47   0.5874  0.121659   0.0976    0.5389
 4    2024-01-05    6.160  2270.35   0.5763  0.119269   0.0922    0.5125
 ..          ...      ...      ...      ...       ...      ...       ...
 119  2024-04-29    5.909  3215.53   0.5148  0.111972   0.1319    0.4433
 120  2024-04-30    5.619  3011.40   0.5003  0.107636   0.1347    0.4179
 121  2024-05-01    5.707  2968.12   0.5169  0.110985   0.1273    0.4242
 122  2024-05-02    5.929  2986.32   0.5181  0.110308   0.1279    0.4342
 123  2024-05-03    6.063  3074.00   0.5253  0.111041   0.1331    0.4486

      AKT-USD  STX-USD  AVAX-USD  ...  GRT-USD  VET-USD  FLOW-USD  TIA-USD  \
 0        NaN   1.6246     41.95  ...   0.2175  0.03664     0.955   13.998
 1        NaN   1.5470     40.58  ...   0.2072  0.03500     0.916   12.783
 2        NaN   1.5548     36.81  ...   0.1894  0.03210     0.826   12.192
 3        NaN   1.7197     38.74  ...   0.1990  0.03279     0.851   15.630
 4        NaN   1.6112     36.48  ...   0.1849  0.03115     0.811   15.622
 ..       ...      ...       ...  ...      ...      ...       ...      ...
 119    4.294   2.4739     35.29  ...   0.2569  0.03947     0.893    9.744
 120    4.029   2.1564     32.69  ...   0.2360  0.03605     0.840    9.467
 121    4.087   2.1396     33.29  ...   0.2427  0.03517     0.852    9.679
 122    4.153   2.0854     33.58  ...   0.2507  0.03511     0.876   10.143
 123    4.240   2.1703     35.06  ...   0.2680  0.03677     0.901    9.988

      SOL-USDT  ICP-USDT  CHZ-USDT  APT-USDT  BTC-USDT  AXS-USDT
 0      109.90     12.93    0.0894      9.87  44181.35      9.22
 1      106.62     14.03    0.0876     10.24  44954.64      8.96
 2       98.47     14.37    0.0807      9.08  42843.85      7.94
 3      104.87     13.87    0.0821     10.24  44154.57      8.40
 4      100.00     13.18    0.0795      9.66  44156.34      7.97
 ..        ...       ...       ...       ...       ...       ...
 119    137.67     13.39    0.1140      9.09  63863.03      7.21
 120    126.82     12.89    0.1086      8.76  60680.03      6.72
 121    134.53     13.17    0.1165      8.91  58357.97      7.00
 122    137.70     13.60    0.1185      8.87  59066.36      7.37
 123    141.81     13.57    0.1188      9.12  61614.22      7.54

 [124 rows x 47 columns],
            time  RNDR-USD  SUI-USD  FLOW-USD  SAND-USD  SOL-USD  LTC-USD  \
 0    2022-02-03    3.3600      NaN       NaN       NaN   101.93   111.02
 1    2022-02-04    3.6000      NaN       NaN       NaN   112.69   121.42
 2    2022-02-05    3.7000      NaN       NaN       NaN   113.80   121.80
 3    2022-02-06    3.5800      NaN       NaN       NaN   115.32   127.68
 4    2022-02-07    3.6400      NaN       NaN       NaN   117.62   137.43
 ..          ...       ...      ...       ...       ...      ...      ...
 817  2024-04-30    7.3389   1.1431     0.840    0.4179   126.66    79.44
 818  2024-05-01    7.6578   1.1456     0.852    0.4242   134.46    80.05
 819  2024-05-02    7.8254   1.1215     0.876    0.4342   137.57    80.04
 820  2024-05-03    8.2420   1.1118     0.909    0.4515   143.73    81.91
 821  2024-05-04    8.7283   1.0924     0.910    0.4535   146.32    82.38

      BIT-USD  ATOM-USD  AXS-USD  ...  UNI-USD  MKR-USD  SEI-USD  DOGE-USD  \
 0        NaN    29.720    48.50  ...   10.390  2296.74      NaN   0.13810
 1        NaN    31.130    51.33  ...   11.180  2284.83      NaN   0.14800
 2        NaN    30.760    56.80  ...   11.260  2260.65      NaN   0.14700
 3        NaN    31.310    68.32  ...   11.700  2247.97      NaN   0.15410
 4        NaN    31.630    68.32  ...   12.380  2252.65      NaN   0.16540
 ..       ...       ...      ...  ...      ...      ...      ...       ...
 817   0.9609     8.441     6.73  ...    7.033  2662.11   0.5432   0.13330
 818   0.9586     8.732     6.99  ...    7.035  2725.45   0.5312   0.13007
 819   1.0147     8.643     7.30  ...    7.107  2767.49   0.5402   0.13192
 820   1.0746     8.766     7.50  ...    7.587  2957.62   0.5702   0.14612
 821   1.0570     8.740     7.47  ...    7.547  2924.69   0.5735   0.16332

      ADA-USDC  ETH-USDC  MATIC-USD  GRT-USD   BTC-USD  CRO-USDT
 0       1.061   2697.04     1.5562   0.4067  37329.91    0.4040
 1       1.140   2997.78     1.6971   0.4406  41614.64    0.4352
 2       1.127   3015.00     1.7123   0.4481  41404.85    0.4474
 3       1.142   3058.08     1.7397   0.4730  42415.16    0.4631
 4       1.200   3141.76     2.0193   0.5065  43868.07    0.4954
 ..        ...       ...        ...      ...       ...       ...
 817       NaN       NaN     0.6669   0.2360  60622.10    0.1333
 818       NaN       NaN     0.6912   0.2427  58265.59    0.1274
 819       NaN       NaN     0.7206   0.2507  59071.89    0.1281
 820       NaN       NaN     0.7327   0.2751  62913.03    0.1330
 821       NaN       NaN     0.7355   0.2771  63640.07    0.1335

 [822 rows x 47 columns],
                        time  AVAX-USD  XRP-USD   BTC-USD  SHIB-USD  DOT-USD  \
 0       2024-01-01 00:00:00     38.58      NaN       NaN  0.000010    8.213

In [112]:
len(dfs)

11

In [113]:
pd.merge(dfs[0],dfs[1])

Empty DataFrame
Columns: [time, UNI-USD, ALGO-USD, TIA-USD, LTC-USD, STX-USD, APT-USDT, SAND-USDT, RNDR-USDT, ADA-USDT, WBTC-USD, ATOM-USD, CRO-USDT, MKR-USD, DOGE-USDT, XLM-USD, BCH-USD, XRP-USD, IMX-USD, FLR-USD, INJ-USD, SHIB-USD, AVAX-USDT, SOL-USDT, ICP-USD, DOT-USDT, SUI-USD, LINK-USD, BIT-USD, FLOW-USD, QNT-USD, NEAR-USD, FIL-USD, AKT-USD, HBAR-USDT, ARB-USD, AXS-USD, MATIC-USDT, AAVE-USD, SEI-USD, BTC-USDT, ETH-USDT, VET-USD, GRT-USD, CHZ-USD, ETC-USD, LDO-USD, CRO-USD, ADA-USD, STX-USDT, AVAX-USD]
Index: []

[0 rows x 51 columns]

# classify files by granularity
- group files by granularity, each granularity need to be treated differently

In [114]:
granularities = {}
for file in files:
    file_params = file.split('/')[1].split('.[a-z]*')[0].split('_')[2:]
    if int(file_params[2]) not in granularities:
        granularities[int(file_params[2])] = []
    granularities[int(file_params[2])] += [{'file': file, 'start_date': file_params[0], 'end_date': file_params[1], 
    'market_cap': int(file_params[3]), 'bound': file_params[4], 'return_period': file_params[5]}]
granularities

{86400: [{'file': 'data/hist_prices_2024-01-01-00-00_None_86400_1000000000_(0, 0.4)_30.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 1000000000,
   'bound': '(0, 0.4)',
   'return_period': '30.csv'},
  {'file': 'data/hist_prices_2024-01-01-00-00_None_86400_10000000000_(0, 0.4)_45.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 10000000000,
   'bound': '(0, 0.4)',
   'return_period': '45.csv'},
  {'file': 'data/hist_prices_2024-01-01-00-00_None_86400_1000000000_(0, 0.4)_45.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 1000000000,
   'bound': '(0, 0.4)',
   'return_period': '45.csv'},
  {'file': 'data/hist_prices_2022-01-01-00-00_None_86400_1000000000_(0, 0.4)_45.csv',
   'start_date': '2022-01-01-00-00',
   'end_date': 'None',
   'market_cap': 1000000000,
   'bound': '(0, 0.4)',
   'return_period': '45.csv'}],
 900: [{'file': 'data/hist_prices_2024-01-01-00-00_None_900_1000000000_(0, 0.4)_30.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 1000000000,
   'bound': '(0, 0.4)',
   'return_period': '30.csv'},
  {'file': 'data/hist_prices_2024-01-01-00-00_None_900_10000000000_(0, 0.4)_45.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 10000000000,
   'bound': '(0, 0.4)',
   'return_period': '45.csv'}],
 3600: [{'file': 'data/hist_prices_2024-01-01-00-00_None_3600_1000000000_(0, 0.4)_30.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 1000000000,
   'bound': '(0, 0.4)',
   'return_period': '30.csv'}],
 60: [{'file': 'data/hist_prices_2024-01-01-00-00_None_60_10000000000_(0, 0.4)_30.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 10000000000,
   'bound': '(0, 0.4)',
   'return_period': '30.csv'},
  {'file': 'data/hist_prices_2024-01-01-00-00_None_60_10000000000_(0, 0.4)_45.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 10000000000,
   'bound': '(0, 0.4)',
   'return_period': '45.csv'},
  {'file': 'data/hist_prices_2020-01-01-00-00_None_60_10000000000_(0, 0.4)_30.csv',
   'start_date': '2020-01-01-00-00',
   'end_date': 'None',
   'market_cap': 10000000000,
   'bound': '(0, 0.4)',
   'return_period': '30.csv'}],
 300: [{'file': 'data/hist_prices_2024-01-01-00-00_None_300_1000000000_(0, 0.4)_30.csv',
   'start_date': '2024-01-01-00-00',
   'end_date': 'None',
   'market_cap': 1000000000,
   'bound': '(0, 0.4)',
   'return_period': '30.csv'}]}

# merge, union assumptions

- price history is indifferent to bound.
- price history is indifferent to return_period.
- price history depends on granularity.
- price history is filtered by market_cap
-

In [123]:
def filtered_granularity(granularity, market_cap):
    gran_filtered = granularities[granularity]
    mc_filtered = [i for i in gran_filtered if i['market_cap'] >= market_cap]
    return mc_filtered

In [124]:
gran_mc_filtered_files = filtered_granularity(86400, 10**9)
gran_mc_filtered_files

[{'file': 'data/hist_prices_2024-01-01-00-00_None_86400_1000000000_(0, 0.4)_30.csv',
  'start_date': '2024-01-01-00-00',
  'end_date': 'None',
  'market_cap': 1000000000,
  'bound': '(0, 0.4)',
  'return_period': '30.csv'},
 {'file': 'data/hist_prices_2024-01-01-00-00_None_86400_10000000000_(0, 0.4)_45.csv',
  'start_date': '2024-01-01-00-00',
  'end_date': 'None',
  'market_cap': 10000000000,
  'bound': '(0, 0.4)',
  'return_period': '45.csv'},
 {'file': 'data/hist_prices_2024-01-01-00-00_None_86400_1000000000_(0, 0.4)_45.csv',
  'start_date': '2024-01-01-00-00',
  'end_date': 'None',
  'market_cap': 1000000000,
  'bound': '(0, 0.4)',
  'return_period': '45.csv'},
 {'file': 'data/hist_prices_2022-01-01-00-00_None_86400_1000000000_(0, 0.4)_45.csv',
  'start_date': '2022-01-01-00-00',
  'end_date': 'None',
  'market_cap': 1000000000,
  'bound': '(0, 0.4)',
  'return_period': '45.csv'}]

In [125]:
from datetime import datetime

In [126]:
def adjust_dates(gran_mc_filtered_files, timefmt='%Y-%m-%d'):
    adjusted_dates_files = []
    for file in gran_mc_filtered_files:
        df = pd.read_csv(file['file'])
        adjusted_start_date = datetime.strptime(df.iloc[0]['time'], timefmt)
        adjusted_end_date = datetime.strptime(df.iloc[-1]['time'], timefmt)
        adjusted_dates_files += [{'file':file['file'], 'start_date':adjusted_start_date, 'end_date': adjusted_end_date}]
    return adjusted_dates_files

In [127]:
date_adjusted_files = adjust_dates(gran_mc_filtered_files)
date_adjusted_files

[{'file': 'data/hist_prices_2024-01-01-00-00_None_86400_1000000000_(0, 0.4)_30.csv',
  'start_date': datetime.datetime(2024, 1, 1, 0, 0),
  'end_date': datetime.datetime(2024, 5, 3, 0, 0)},
 {'file': 'data/hist_prices_2024-01-01-00-00_None_86400_10000000000_(0, 0.4)_45.csv',
  'start_date': datetime.datetime(2024, 1, 1, 0, 0),
  'end_date': datetime.datetime(2024, 5, 5, 0, 0)},
 {'file': 'data/hist_prices_2024-01-01-00-00_None_86400_1000000000_(0, 0.4)_45.csv',
  'start_date': datetime.datetime(2024, 1, 1, 0, 0),
  'end_date': datetime.datetime(2024, 5, 3, 0, 0)},
 {'file': 'data/hist_prices_2022-01-01-00-00_None_86400_1000000000_(0, 0.4)_45.csv',
  'start_date': datetime.datetime(2022, 2, 3, 0, 0),
  'end_date': datetime.datetime(2024, 5, 4, 0, 0)}]

In [128]:
dfs = []
for file in date_adjusted_files:
    dfs += [pd.read_csv(file['file'])]
dfs

[           time  UNI-USD  ALGO-USD  TIA-USD  LTC-USD  STX-USD  APT-USDT  \
 0    2024-01-01    7.605    0.2390   13.998    74.75   1.6246      9.87
 1    2024-01-02    7.180    0.2269   12.783    72.98   1.5470     10.24
 2    2024-01-03    6.436    0.2046   12.192    65.29   1.5548      9.08
 3    2024-01-04    6.537    0.2075   15.630    66.49   1.7197     10.24
 4    2024-01-05    6.436    0.1969   15.622    66.08   1.6112      9.66
 ..          ...      ...       ...      ...      ...      ...       ...
 119  2024-04-29    7.689    0.1901    9.744    83.48   2.4739      9.09
 120  2024-04-30    7.033    0.1780    9.467    79.44   2.1564      8.76
 121  2024-05-01    7.035    0.1805    9.679    80.05   2.1396      8.91
 122  2024-05-02    7.107    0.1811   10.143    80.04   2.0854      8.87
 123  2024-05-03    7.473    0.1908   10.171    81.94   2.1844      9.15

      SAND-USDT  RNDR-USDT  ADA-USDT  ...  ARB-USD  AXS-USD  MATIC-USDT  \
 0        0.602     4.7333     0.623  ...   1.7379     9.26       1.015
 1        0.587     4.6611     0.603  ...   1.7701     8.96       0.971
 2        0.515     4.4171     0.558  ...   1.9168     7.96       0.855
 3        0.539     4.3820     0.569  ...   2.0068     8.43       0.883
 4        0.511     4.0120     0.542  ...   1.9534     7.98       0.854
 ..         ...        ...       ...  ...      ...      ...         ...
 119      0.443     7.8683     0.456  ...   1.0586     7.11       0.703
 120      0.419     7.3425     0.444  ...   1.0227     6.73       0.668
 121      0.424     7.6596     0.450  ...   1.0281     6.99       0.693
 122      0.435     7.8293     0.460  ...   1.0291     7.30       0.722
 123      0.451     8.1033     0.468  ...   1.0673     7.54       0.731

      AAVE-USD  SEI-USD  BTC-USDT  ETH-USDT  VET-USD  GRT-USD  CHZ-USD
 0      116.23   0.7096  44181.35   2352.20  0.03664   0.2175   0.0897
 1      110.35   0.7124  44954.64   2354.55  0.03500   0.2072   0.0877
 2      102.85   0.7841  42843.85   2209.69  0.03210   0.1894   0.0806
 3      103.90   0.7723  44154.57   2266.94  0.03279   0.1990   0.0818
 4      103.03   0.7190  44156.34   2268.27  0.03115   0.1849   0.0798
 ..        ...      ...       ...       ...      ...      ...      ...
 119     89.30   0.6359  63863.03   3215.77  0.03947   0.2569   0.1131
 120     83.26   0.5432  60680.03   3014.20  0.03605   0.2360   0.1079
 121     83.54   0.5312  58357.97   2972.74  0.03517   0.2427   0.1165
 122     84.94   0.5402  59066.36   2985.47  0.03511   0.2507   0.1181
 123     87.69   0.5656  61836.56   3078.77  0.03713   0.2691   0.1190

 [124 rows x 45 columns],
            time  ADA-USD  SHIB-USD  ETH-USD  DOT-USD  DOGE-USD  AVAX-USD  \
 0    2024-01-01   0.6236  0.000011  2352.76    8.598   0.09202     41.95
 1    2024-01-02   0.6053  0.000011  2356.16    8.423   0.09110     40.58
 2    2024-01-03   0.5572  0.000010  2210.49    7.634   0.08203     36.81
 3    2024-01-04   0.5704  0.000010  2269.47    7.886   0.08408     38.74
 4    2024-01-05   0.5419  0.000010  2270.35    7.456   0.08272     36.48
 ..          ...      ...       ...      ...      ...       ...       ...
 121  2024-05-01   0.4493  0.000023  2968.12    6.888   0.13007     33.29
 122  2024-05-02   0.4577  0.000023  2986.32    7.277   0.13192     33.58
 123  2024-05-03   0.4675  0.000024  3103.27    7.250   0.14612     35.56
 124  2024-05-04   0.4633  0.000025  3117.41    7.122   0.16011     37.38
 125  2024-05-05   0.4599  0.000025  3146.00    7.134   0.16144     37.25

      SOL-USD
 0     110.11
 1     106.74
 2      98.59
 3     105.01
 4     100.02
 ..       ...
 121   134.46
 122   137.57
 123   143.73
 124   146.06
 125   147.01

 [126 rows x 8 columns],
            time  FIL-USD  ETH-USD  XRP-USD   XLM-USD  CRO-USD  SAND-USD  \
 0    2024-01-01    7.570  2352.76   0.6299  0.131996   0.1008    0.6042
 1    2024-01-02    7.174  2356.16   0.6247  0.129211   0.1038    0.5872
 2    2024-01-03    6.292  2210.49   0.5826  0.120563   0.0960    0.5169
 3    2024-01-04    6.499  2269.47   0.5874  0.121659   0.0976    0.5389
 4    2024-01-05    6.160  2270.35   0.5763  0.119269   0.0922    0.5125
 ..          ...      ...      ...      ...       ...      ...       ...
 119  2024-04-29    5.909  3215.53   0.5148  0.111972   0.1319    0.4433
 120  2024-04-30    5.619  3011.40   0.5003  0.107636   0.1347    0.4179
 121  2024-05-01    5.707  2968.12   0.5169  0.110985   0.1273    0.4242
 122  2024-05-02    5.929  2986.32   0.5181  0.110308   0.1279    0.4342
 123  2024-05-03    6.063  3074.00   0.5253  0.111041   0.1331    0.4486

      AKT-USD  STX-USD  AVAX-USD  ...  GRT-USD  VET-USD  FLOW-USD  TIA-USD  \
 0        NaN   1.6246     41.95  ...   0.2175  0.03664     0.955   13.998
 1        NaN   1.5470     40.58  ...   0.2072  0.03500     0.916   12.783
 2        NaN   1.5548     36.81  ...   0.1894  0.03210     0.826   12.192
 3        NaN   1.7197     38.74  ...   0.1990  0.03279     0.851   15.630
 4        NaN   1.6112     36.48  ...   0.1849  0.03115     0.811   15.622
 ..       ...      ...       ...  ...      ...      ...       ...      ...
 119    4.294   2.4739     35.29  ...   0.2569  0.03947     0.893    9.744
 120    4.029   2.1564     32.69  ...   0.2360  0.03605     0.840    9.467
 121    4.087   2.1396     33.29  ...   0.2427  0.03517     0.852    9.679
 122    4.153   2.0854     33.58  ...   0.2507  0.03511     0.876   10.143
 123    4.240   2.1703     35.06  ...   0.2680  0.03677     0.901    9.988

      SOL-USDT  ICP-USDT  CHZ-USDT  APT-USDT  BTC-USDT  AXS-USDT
 0      109.90     12.93    0.0894      9.87  44181.35      9.22
 1      106.62     14.03    0.0876     10.24  44954.64      8.96
 2       98.47     14.37    0.0807      9.08  42843.85      7.94
 3      104.87     13.87    0.0821     10.24  44154.57      8.40
 4      100.00     13.18    0.0795      9.66  44156.34      7.97
 ..        ...       ...       ...       ...       ...       ...
 119    137.67     13.39    0.1140      9.09  63863.03      7.21
 120    126.82     12.89    0.1086      8.76  60680.03      6.72
 121    134.53     13.17    0.1165      8.91  58357.97      7.00
 122    137.70     13.60    0.1185      8.87  59066.36      7.37
 123    141.81     13.57    0.1188      9.12  61614.22      7.54

 [124 rows x 47 columns],
            time  RNDR-USD  SUI-USD  FLOW-USD  SAND-USD  SOL-USD  LTC-USD  \
 0    2022-02-03    3.3600      NaN       NaN       NaN   101.93   111.02
 1    2022-02-04    3.6000      NaN       NaN       NaN   112.69   121.42
 2    2022-02-05    3.7000      NaN       NaN       NaN   113.80   121.80
 3    2022-02-06    3.5800      NaN       NaN       NaN   115.32   127.68
 4    2022-02-07    3.6400      NaN       NaN       NaN   117.62   137.43
 ..          ...       ...      ...       ...       ...      ...      ...
 817  2024-04-30    7.3389   1.1431     0.840    0.4179   126.66    79.44
 818  2024-05-01    7.6578   1.1456     0.852    0.4242   134.46    80.05
 819  2024-05-02    7.8254   1.1215     0.876    0.4342   137.57    80.04
 820  2024-05-03    8.2420   1.1118     0.909    0.4515   143.73    81.91
 821  2024-05-04    8.7283   1.0924     0.910    0.4535   146.32    82.38

      BIT-USD  ATOM-USD  AXS-USD  ...  UNI-USD  MKR-USD  SEI-USD  DOGE-USD  \
 0        NaN    29.720    48.50  ...   10.390  2296.74      NaN   0.13810
 1        NaN    31.130    51.33  ...   11.180  2284.83      NaN   0.14800
 2        NaN    30.760    56.80  ...   11.260  2260.65      NaN   0.14700
 3        NaN    31.310    68.32  ...   11.700  2247.97      NaN   0.15410
 4        NaN    31.630    68.32  ...   12.380  2252.65      NaN   0.16540
 ..       ...       ...      ...  ...      ...      ...      ...       ...
 817   0.9609     8.441     6.73  ...    7.033  2662.11   0.5432   0.13330
 818   0.9586     8.732     6.99  ...    7.035  2725.45   0.5312   0.13007
 819   1.0147     8.643     7.30  ...    7.107  2767.49   0.5402   0.13192
 820   1.0746     8.766     7.50  ...    7.587  2957.62   0.5702   0.14612
 821   1.0570     8.740     7.47  ...    7.547  2924.69   0.5735   0.16332

      ADA-USDC  ETH-USDC  MATIC-USD  GRT-USD   BTC-USD  CRO-USDT
 0       1.061   2697.04     1.5562   0.4067  37329.91    0.4040
 1       1.140   2997.78     1.6971   0.4406  41614.64    0.4352
 2       1.127   3015.00     1.7123   0.4481  41404.85    0.4474
 3       1.142   3058.08     1.7397   0.4730  42415.16    0.4631
 4       1.200   3141.76     2.0193   0.5065  43868.07    0.4954
 ..        ...       ...        ...      ...       ...       ...
 817       NaN       NaN     0.6669   0.2360  60622.10    0.1333
 818       NaN       NaN     0.6912   0.2427  58265.59    0.1274
 819       NaN       NaN     0.7206   0.2507  59071.89    0.1281
 820       NaN       NaN     0.7327   0.2751  62913.03    0.1330
 821       NaN       NaN     0.7355   0.2771  63640.07    0.1335

 [822 rows x 47 columns]]

In [197]:
df = pd.concat(dfs)
df=df.set_index('time')
df

,UNI-USD,ALGO-USD,TIA-USD,LTC-USD,STX-USD,APT-USDT,SAND-USDT,RNDR-USDT,ADA-USDT,WBTC-USD,...,HBAR-USD,LDO-USD,ICP-USDT,CHZ-USDT,AXS-USDT,APT-USD,GALA-USD,ADA-USDC,ETH-USDC,BTC-USD
time,,,,,,,,,,,,,,,,,,,,,
2024-01-01,7.605,0.2390,13.998,74.75,1.6246,9.87,0.602,4.7333,0.623,44192.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-02,7.180,0.2269,12.783,72.98,1.5470,10.24,0.587,4.6611,0.603,44957.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-03,6.436,0.2046,12.192,65.29,1.5548,9.08,0.515,4.4171,0.558,42989.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-04,6.537,0.2075,15.630,66.49,1.7197,10.24,0.539,4.3820,0.569,44294.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-05,6.436,0.1969,15.622,66.08,1.6112,9.66,0.511,4.0120,0.542,44156.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-30,7.033,0.1780,9.467,79.44,2.1564,NaN,NaN,NaN,NaN,60710.40,...,0.09371,1.870,NaN,NaN,NaN,8.70,NaN,NaN,NaN,60622.10
2024-05-01,7.035,0.1805,9.679,80.05,2.1396,NaN,NaN,NaN,NaN,58222.00,...,0.09949,1.937,NaN,NaN,NaN,8.93,NaN,NaN,NaN,58265.59
2024-05-02,7.107,0.1811,10.143,80.04,2.0854,NaN,NaN,NaN,NaN,59151.13,...,0.10033,1.976,NaN,NaN,NaN,8.85,NaN,NaN,NaN,59071.89
2024-05-03,7.587,0.1918,10.119,81.91,2.3786,NaN,NaN,NaN,NaN,62848.19,...,0.11131,2.125,NaN,NaN,NaN,9.07,NaN,NaN,NaN,62913.03
2024-05-04,7.547,0.1939,10.042,82.38,2.3989,NaN,NaN,NaN,NaN,63627.37,...,0.10895,2.080,NaN,NaN,NaN,9.11,NaN,NaN,NaN,63640.07

In [198]:
list(df.columns)

['UNI-USD',
 'ALGO-USD',
 'TIA-USD',
 'LTC-USD',
 'STX-USD',
 'APT-USDT',
 'SAND-USDT',
 'RNDR-USDT',
 'ADA-USDT',
 'WBTC-USD',
 'ATOM-USD',
 'CRO-USDT',
 'MKR-USD',
 'DOGE-USDT',
 'XLM-USD',
 'BCH-USD',
 'XRP-USD',
 'IMX-USD',
 'FLR-USD',
 'INJ-USD',
 'SHIB-USD',
 'AVAX-USDT',
 'SOL-USDT',
 'ICP-USD',
 'DOT-USDT',
 'SUI-USD',
 'LINK-USD',
 'BIT-USD',
 'FLOW-USD',
 'QNT-USD',
 'NEAR-USD',
 'FIL-USD',
 'AKT-USD',
 'HBAR-USDT',
 'ARB-USD',
 'AXS-USD',
 'MATIC-USDT',
 'AAVE-USD',
 'SEI-USD',
 'BTC-USDT',
 'ETH-USDT',
 'VET-USD',
 'GRT-USD',
 'CHZ-USD',
 'ADA-USD',
 'ETH-USD',
 'DOT-USD',
 'DOGE-USD',
 'AVAX-USD',
 'SOL-USD',
 'CRO-USD',
 'SAND-USD',
 'ETC-USD',
 'MATIC-USD',
 'RNDR-USD',
 'HBAR-USD',
 'LDO-USD',
 'ICP-USDT',
 'CHZ-USDT',
 'AXS-USDT',
 'APT-USD',
 'GALA-USD',
 'ADA-USDC',
 'ETH-USDC',
 'BTC-USD']

In [199]:
import numpy as np

In [200]:
gdf = df.groupby('time')
gdf

In [201]:
gdf.first()

,UNI-USD,ALGO-USD,TIA-USD,LTC-USD,STX-USD,APT-USDT,SAND-USDT,RNDR-USDT,ADA-USDT,WBTC-USD,...,HBAR-USD,LDO-USD,ICP-USDT,CHZ-USDT,AXS-USDT,APT-USD,GALA-USD,ADA-USDC,ETH-USDC,BTC-USD
time,,,,,,,,,,,,,,,,,,,,,
2022-02-03,10.390,0.9360,NaN,111.02,1.4300,NaN,NaN,NaN,NaN,37365.53,...,NaN,NaN,NaN,NaN,NaN,NaN,0.18733,1.061,2697.04,37329.91
2022-02-04,11.180,0.9987,NaN,121.42,1.5500,NaN,NaN,NaN,NaN,41595.57,...,NaN,NaN,NaN,NaN,NaN,NaN,0.20194,1.140,2997.78,41614.64
2022-02-05,11.260,1.0021,NaN,121.80,1.5800,NaN,NaN,NaN,NaN,41455.19,...,NaN,NaN,NaN,NaN,NaN,NaN,0.29262,1.127,3015.00,41404.85
2022-02-06,11.700,1.0259,NaN,127.68,1.6800,NaN,NaN,NaN,NaN,42475.17,...,NaN,NaN,NaN,NaN,NaN,NaN,0.32025,1.142,3058.08,42415.16
2022-02-07,12.380,1.0706,NaN,137.43,1.7200,NaN,NaN,NaN,NaN,43872.85,...,NaN,NaN,NaN,NaN,NaN,NaN,0.34781,1.200,3141.76,43868.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,7.035,0.1805,9.679,80.05,2.1396,8.91,0.424,7.6596,0.450,58222.00,...,0.09949,1.937,13.17,0.1165,7.00,8.93,NaN,NaN,NaN,58265.59
2024-05-02,7.107,0.1811,10.143,80.04,2.0854,8.87,0.435,7.8293,0.460,59151.13,...,0.10033,1.976,13.60,0.1185,7.37,8.85,NaN,NaN,NaN,59071.89
2024-05-03,7.473,0.1908,10.171,81.94,2.1844,9.15,0.451,8.1033,0.468,61787.20,...,0.10850,2.161,13.57,0.1188,7.54,9.07,NaN,NaN,NaN,62913.03
2024-05-04,7.547,0.1939,10.042,82.38,2.3989,NaN,NaN,NaN,NaN,63627.37,...,0.10895,2.080,NaN,NaN,NaN,9.11,NaN,NaN,NaN,63640.07
2024-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
adf = pd.DataFrame()
for col in df.columns:
    adf[col] = gdf[col].agg(np.sum)

/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)
/tmp/ipykernel_55303/3934569365.py:3: FutureWarning: The provided callable <function sum at 0x7fcd181975b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  adf[col] = gdf[col].agg(np.sum)

,UNI-USD,ALGO-USD,TIA-USD,LTC-USD,STX-USD,APT-USDT,SAND-USDT,RNDR-USDT,ADA-USDT,WBTC-USD,...,HBAR-USD,LDO-USD,ICP-USDT,CHZ-USDT,AXS-USDT,APT-USD,GALA-USD,ADA-USDC,ETH-USDC,BTC-USD
time,,,,,,,,,,,,,,,,,,,,,
2022-02-03,10.390,0.9360,0.000,111.02,1.4300,0.00,0.000,0.0000,0.000,37365.53,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.18733,1.061,2697.04,37329.91
2022-02-04,11.180,0.9987,0.000,121.42,1.5500,0.00,0.000,0.0000,0.000,41595.57,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.20194,1.140,2997.78,41614.64
2022-02-05,11.260,1.0021,0.000,121.80,1.5800,0.00,0.000,0.0000,0.000,41455.19,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.29262,1.127,3015.00,41404.85
2022-02-06,11.700,1.0259,0.000,127.68,1.6800,0.00,0.000,0.0000,0.000,42475.17,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.32025,1.142,3058.08,42415.16
2022-02-07,12.380,1.0706,0.000,137.43,1.7200,0.00,0.000,0.0000,0.000,43872.85,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.34781,1.200,3141.76,43868.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,21.105,0.5415,29.037,240.15,6.4188,17.82,0.424,7.6596,0.450,174666.00,...,0.19898,3.874,13.17,0.1165,7.00,8.93,0.00000,0.000,0.00,58265.59
2024-05-02,21.321,0.5433,30.429,240.12,6.2562,17.74,0.435,7.8293,0.460,177453.39,...,0.20066,3.952,13.60,0.1185,7.37,8.85,0.00000,0.000,0.00,59071.89
2024-05-03,22.498,0.5741,30.278,245.76,6.7333,18.27,0.451,8.1033,0.468,186111.56,...,0.21981,4.286,13.57,0.1188,7.54,9.07,0.00000,0.000,0.00,62913.03
2024-05-04,7.547,0.1939,10.042,82.38,2.3989,0.00,0.000,0.0000,0.000,63627.37,...,0.10895,2.080,0.00,0.0000,0.00,9.11,0.00000,0.000,0.00,63640.07
2024-05-05,0.000,0.0000,0.000,0.00,0.0000,0.00,0.000,0.0000,0.000,0.00,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.00000,0.000,0.00,0.00

In [204]:
adf

,UNI-USD,ALGO-USD,TIA-USD,LTC-USD,STX-USD,APT-USDT,SAND-USDT,RNDR-USDT,ADA-USDT,WBTC-USD,...,HBAR-USD,LDO-USD,ICP-USDT,CHZ-USDT,AXS-USDT,APT-USD,GALA-USD,ADA-USDC,ETH-USDC,BTC-USD
time,,,,,,,,,,,,,,,,,,,,,
2022-02-03,10.390,0.9360,0.000,111.02,1.4300,0.00,0.000,0.0000,0.000,37365.53,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.18733,1.061,2697.04,37329.91
2022-02-04,11.180,0.9987,0.000,121.42,1.5500,0.00,0.000,0.0000,0.000,41595.57,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.20194,1.140,2997.78,41614.64
2022-02-05,11.260,1.0021,0.000,121.80,1.5800,0.00,0.000,0.0000,0.000,41455.19,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.29262,1.127,3015.00,41404.85
2022-02-06,11.700,1.0259,0.000,127.68,1.6800,0.00,0.000,0.0000,0.000,42475.17,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.32025,1.142,3058.08,42415.16
2022-02-07,12.380,1.0706,0.000,137.43,1.7200,0.00,0.000,0.0000,0.000,43872.85,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.34781,1.200,3141.76,43868.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,21.105,0.5415,29.037,240.15,6.4188,17.82,0.424,7.6596,0.450,174666.00,...,0.19898,3.874,13.17,0.1165,7.00,8.93,0.00000,0.000,0.00,58265.59
2024-05-02,21.321,0.5433,30.429,240.12,6.2562,17.74,0.435,7.8293,0.460,177453.39,...,0.20066,3.952,13.60,0.1185,7.37,8.85,0.00000,0.000,0.00,59071.89
2024-05-03,22.498,0.5741,30.278,245.76,6.7333,18.27,0.451,8.1033,0.468,186111.56,...,0.21981,4.286,13.57,0.1188,7.54,9.07,0.00000,0.000,0.00,62913.03
2024-05-04,7.547,0.1939,10.042,82.38,2.3989,0.00,0.000,0.0000,0.000,63627.37,...,0.10895,2.080,0.00,0.0000,0.00,9.11,0.00000,0.000,0.00,63640.07
2024-05-05,0.000,0.0000,0.000,0.00,0.0000,0.00,0.000,0.0000,0.000,0.00,...,0.00000,0.000,0.00,0.0000,0.00,0.00,0.00000,0.000,0.00,0.00